#address {
    min-width: 50%;
}

#logo {
    top: 1rem;
    left: 50%;
    margin-left: -4rem;
    width: 8rem;
    height: 8rem;
    position: absolute;

    @media screen and (min-width: 769px) {
        width: 10rem;
        height: 10rem;
        margin-left: -5rem;
    }
}

.title {
    margin-top: 1rem;

    @media screen and (min-width: 769px) {
        margin-top: 3rem;
    }
}

.main {
    margin-top: 60px;
}

.info {
    font-weight: bold;
    font-size: x-large;
}

.info code {
    display: inline-block;
    white-space: nowrap;
    font-size: inherit;
}

/* Desktop styles */
@media screen and (min-width: 769px) {
    .info {
        padding: 1rem;
        text-align: center;
    }

    .info code {
        max-width: 90%;
        margin: 0 auto;
    }
}

/* Tablet and mobile styles */
@media screen and (max-width: 768px) {
    .info {
        font-size: large;
        padding: 0.5rem;
    }

    .info code {
        white-space: pre-wrap;
        word-wrap: break-word;
        font-size: 0.9em;
    }
}

/* Very small screens */
@media screen and (max-width: 480px) {
    .info {
        font-size: medium;
        padding: 0.25rem;
    }
}

.card {
    max-width: 1024px;
    margin: 0 auto;
}

.pi-star-fill {
    color: gold;
}
